/* * {
    box-sizing: border-box;
  } */

.wrapp {
    border: 3px rgb(57, 58, 82) solid;
    border-radius: 10px;
    background-color:#181824;
    padding: 0 30px;
}

.value {
    margin: 35px 100px ;
}

@media only screen and (max-width: 550px) {
    .wrapp {
      margin: auto;
      padding: 6px;
    }
    .value {
        margin: 15px 50px;
    }
    .buttons {
        display: grid;
    }

  }


.current-value {
    background-color: #25273C;
    font-size: 25px;
    color: #f8f9fa;
    border: 3px  #34364d solid;
    border-radius: 10px;
}


.button-increase {
    
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .300rem .70rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    cursor: pointer;
    margin: .25rem .125rem;
}

.button-decrease {
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .300rem .70rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    cursor: pointer;
    margin: .25rem .125rem;
} 

.button-reset {
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .300rem .70rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    cursor: pointer;
    margin: .25rem .125rem;
}

